html,
body, li {
  height: 100%; 
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}

h1{
	font-family:  "Oswald Regular", Helvetica, Arial, sans-serif;
	font-size: 30px;
	display: inline-block;
}

/* Custom CSS
-------------------------------------------------- */
a, a:hover, a:active, a:visited{
	text-decoration: none !important;
}

a{
	color:#0e0e0e;
}

button:focus {outline:0;}

.centered{
	margin: 0 auto;
}

.container {  
  max-width: 990px;
  padding: 0 15px;
}

p.footer-menu {
  margin: 10px 0 3px 0;
  text-align: center;
  font-size: 12px;
  color: #FFF;
}

p.footer-menu a{
	color: #FFF;
	text-decoration: none;	
}

.mg-top-10{
	margin-top: 10px;
}

.mg-btm-10{
	margin-bottom: 10px;
}


.drawer-toggle:hover, .drawer-toggle:visited, .drawer-toggle:focus{
	border:none !important;
	background: none !important;
}

.icon-bar{
	background:#FFF !important;
}

.navbar-default, #footer{
	background-color: #0e0e0e;	
}

.navbar-brand, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
	color: #FFF;	
}

.navbar-brand{
	padding: 0px; /* firefox bug fix */
	font-family: "Oswald Regular", Helvetica, Arial, sans-serif;
}

.navbar-brand>img {
	display: inline-block;
	height: 100%;
	padding: 10px; /* firefox bug fix */
	width: auto;
	margin-right: -5px;
}

.navbar-toggle{
	border: none;
	margin-top: 0;
	padding-top: 15px;
	
}

#header, #footer{
	position:fixed;		
	display:block;
	width: 100%;
	z-index:9;
}

#header{
	top:0px;
	height: 50px;
}
#footer{
	bottom:0px;
	height: 40px;
}

.header-custom{
	border-bottom: 4px solid #ddd;
	border-top: none;
	border-left: none;    
    border-right: none;
	border-radius: 0;
}

.footer-custom{
	border-top: 4px solid #ddd;
}

a.drawer-toggle label{
	display: none;
}

.navbar-brand:hover, p.footer-menu a:hover, .navbar-right a:hover{
	color: #AAA !important;
}

.icon-user{
	border: 1px solid #fff;
    border-radius: 100px;
    background: #fff;
    color: #848080;
	font-size: 18px !important;
}

.pointer{
	cursor: pointer;
}

.m-login-dialog{
	margin-top: 70px;
}

.m-login-header{
	padding: 0;
	text-align:center;
	border-bottom: none;	
}

.m-login-custom{
	border: 4px solid #DDD;
	border-radius: 10px;
}

.m-login-custom button{
	width: 50%;
	margin: 0 auto;
    background: #3579dc;
	border: none;
	border-radius: 0;
	height: 40px;	
}

.m-login-custom button:hover{
	 background: #5083CE;
}

.m-login-container-left{
	width: 50%;
    float: left;
    height: 40px;
    background: black;
    border-radius: 5px 0 0 0;
}

.m-login-container-right{
	width: 50%;
    float: right;
    height: 40px;
	color: #FFF;
    background: black;
    border-radius: 0 5px 0 0;
}

.social-login-icons{	
	text-align:center;	
}

.social-login-icons img{	
	margin: 15px 5px 0 5px;	
	width: 24px;
	height: 24px;
}

.m-signup-dialog{
	margin-top: 70px;
}

.form-control::-webkit-input-placeholder { color: #555; }
.form-control:-moz-placeholder { color: #555; }
.form-control::-moz-placeholder { color: #555; }
.form-control:-ms-input-placeholder { color: #555; }


/* Poll */
.poll-question p{
	font-size: 32px;
	font-weight: 700;
	color: #000;
	line-height:45px;
	text-align: left;
}

.submit-poll-btn-home, .source-btn{
	border: 1px solid #000;
	border-radius: 0;
	color: #000;
}

.submit-poll-btn-home:hover, .source-btn:hover{
	background: #3579dc;
	color: #FFF;
	border: 1px solid #2566C6;
}


.cat-count{
	font-size: 16px; 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

.poll-ans-count{
	position: relative;
	margin: 40px 0 0 0;
}

.share-this{	
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: #3579dc;	
	color: #FFF;
	font-size: 14px;
	padding: 8px 14px;  
    vertical-align: top;
    border: 0;	
}

.share-this:hover{
	background: #2566C6;	
}

.m-share-content{	
    border: 4px solid #ddd;
}

.m-share-body{
	padding: 60px;
}

.m-share-back{
	position: absolute;
	bottom: 7px;
	left: 7px;
	cursor: pointer;
}

.social-share-icons{
	text-align: center;
	margin: 30px;	
}

.img-responsive{
	display: initial;
	margin: 5px 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

hr.cmt{
	margin-top: 0;
    border-top: 1px solid #ddd;
}

/* Thumbs */
.th-cnt{
	display: table;
	height: 220px;
	margin: 0 auto;
	padding: 5px;
}

.th-cnt-rw{
	display:table-row;
	text-align:center;
}

.th-cnt-rw-cl{
	display: table-cell;
	vertical-align: middle;
}

.th-cnt-rw-cl h1{
	margin: 0;
}

.fa-thumbs-up-cs{
	cursor: pointer;
	font-size: 12em;
	line-height: 1;
	color: #0e0e0e;	
	display: inline-block;
	text-shadow: 6px 6px 6px #ddd;
}

.fa-thumbs-up-cs:hover{
	color: #66CD00;	
	font-size: 14em;
}

.fa-thumbs-down-cs{
	cursor: pointer;
	font-size: 12em;
	line-height:1;
	color: #0e0e0e;
	display: inline-block;
	text-shadow: 0px 6px 6px #ddd;
}

.fa-thumbs-down-cs:hover{
	color: #66CD00;	
	font-size: 14em;	
}

.fa-thumbs-up-cs-res{
	font-size: 15em;
	line-height: 1;
	color: #0e0e0e;	
	display: inline-block;
	text-shadow: 6px 6px 6px #ddd;
}

.fa-thumbs-down-cs-res{
	font-size: 10em;
	line-height:1;
	color: #0e0e0e;
	display: inline-block;
	text-shadow: 0px 6px 6px #ddd;
}


/* Rating */
.rating-container{
	text-align: center;
}

div.rating-container>.caption{
	display: block;
}

.clear-rating{
	display: none !important;
}

.label{
	font-size: 50%;
}

.rt-cnt{
	display: table;
	height: 200px;
	margin: 0 auto;
	padding: 5px;
}

.rt-cnt-rw{
	display:table-row;
	text-align:center;
}

.rt-cnt-rw-cl{
	display: table-cell;
	vertical-align: middle;
}

.rt-cnt-rw-cl h1{
	margin: 0;
}

/* Multiple Choice */
.submit-choice-btn{		
    border-radius: 0;
}

.mc-cnt{
	padding-right: 5px;
}

/*general styles for all CSS Checkboxes*/
label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 500;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

/*specific classes related to Checkbox skins*/

.a-chk{background-image:url("../img/checkbox/a.png");}
.b-chk{background-image:url("../img/checkbox/b.png");}
.c-chk{background-image:url("../img/checkbox/c.png");}
.d-chk{background-image:url("../img/checkbox/d.png");}
.e-chk{background-image:url("../img/checkbox/e.png");}
.f-chk{background-image:url("../img/checkbox/f.png");}
.g-chk{background-image:url("../img/checkbox/g.png");}
.h-chk{background-image:url("../img/checkbox/h.png");}
.i-chk{background-image:url("../img/checkbox/i.png");}
.j-chk{background-image:url("../img/checkbox/j.png");}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:25px;
    height:20px; 
	display:block;
	line-height:18px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
    margin-top: 10px;
    margin-bottom: 22px;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{
    background-position: 0 -20px;
}

.progress-bar{
	text-align: left;
    padding-left: 5px;
    font-size: 13px;
}

.progress-bar-info{
	background-color: #3579DC;
}

span.percentage{
	font-family: "Oswald Regular", Helvetica, Arial, sans-serif;
	font-size: 11px;
	margin-left:5px;
	vertical-align: middle;
}

.clearfix{
	clear:both;
}

/* uPick */
.caption, .thumbnail{
	padding:0;
	text-align: center;
}

.thumbnail{
	border: none;
	margin:0;
}

.caption h1{
	margin:0;
}

.up-img{
	height: 200px;
	width: 200px;
	margin: 5px;
}


/* Submit Poll */
.submit-poll-buttons{
	background: #DDD;
}

a.submit-poll-btn {
	font-size: 14px;
	border-radius: 8px;	
	padding: 2px 40px;
	margin: 5px;
	vertical-align:top;
    line-height:40px;
	background: rgba(53, 121, 220, 0.5) !important;
	color: white;
}

a.submit-poll-btn.active{
	background: #3579dc !important;
}

a.submit-poll-btn:hover {
	color: #FFF;
	background: #3579dc !important;
}

a.submit-poll-content-btn{	
	font-size: 14px;	
	border-radius: 8px;	
	line-height:20px;	
	vertical-align:top;    
	background: #3579dc;	
	color: #FFF;
	margin-top: 10px;
}

a.submit-poll-content-btn:hover{
	color: #ddd;
}

.submit-poll-content{
	background: #DDD;
	margin-top: 15px;
	padding: 15px;
}


/* Mood */
img.mood{
	margin: 0px 2px;
	opacity:0.4;
}

img.mood:hover{
	opacity: 1.0
}

/* Mood Meter*/
ul.h-mood{
	padding-left:20px;
}

ul.h-mood li {    
	display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

ul.h-mood li a img{   
	opacity: 0.4;	
	height: 70px;
	margin-left:-20px;
	z-index: 1;
}

ul.h-mood li a img:hover{
    opacity: 1.0;  
    z-index:2;
}

/*
ul.h-mood{
	padding-left:20px;
}

ul.h-mood li {    
	display: inline-block;
    text-decoration: none;
}

ul.h-mood li a img{   
	opacity: 0.4;	
	height: 70px;
	margin-left:-20px;
	z-index: 1;
}

ul.h-mood li a img:hover {
    opacity: 1.0;  
    z-index:2;
}*/

.mm-cnt{
	display: table;
	height: 200px;
	margin: 0 auto;
	padding: 5px;
}

.mm-cnt-rw{
	display:table-row;
	text-align:center;
}

.mm-cnt-rw-cl{
	display: table-cell;
	vertical-align: middle;
}

.h-mood-r{
	padding-left: 0;
}

.h-mood-r li {
    position:relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: -2px;
}

.h-mood-r li img{
    width:100%;
    vertical-align:middle;
}

.h-mood-r li:after, .h-mood-r li:before {
    position:absolute;
    opacity: 0;
    transition: all 0.25s;
    -webkit-transition: all 0.5s;
}

.h-mood-r li:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 1px;
    left: 1px;
    background: rgba(255,255,0, 0.7);
    border: 2px solid yellow;
    border-radius: 50%;
}

.h-mood-r li:before {
    content: attr(data-content);
    width:100%;
    color:#0e0e0e;
    z-index:1;  
    text-align:center;
    margin-top: 40%;
    font-size: 15px;
    font-weight: 700;
}

.h-mood-r li:hover:after, .h-mood-r li:hover:before {
    opacity:1;
}

.m1-r{
	height: 70px !important;
	width: 70px !important;
}
.m2-r{
	height: 90px !important;
	width: 90px !important;
}
.m3-r{
	height: 120px !important;
	width: 120px !important;
}
.m4-r{
	height: 70px !important;
	width: 70px !important;
}
.m5-r{
	height: 100px !important;
	width: 100px !important;
}
.m6-r{
	height: 70px !important;
	width: 70px !important;
}
.m7-r{
	height: 80px !important;
	width: 80px !important;
}



/* Ranking */
ul.h_ranking ul{
	margin: 0px;
	padding: 0px;
}

ul.h_ranking li{
	display: inline-block;   	
	width: 125px;
	height: 125px;	
	background: #3579dc;
	cursor: pointer;
}

ul.h_ranking-r li{
	display: inline-block;   	
	width: 125px;
	height: 125px;	
	background: #3579dc;	
}

ul.h_ranking li p, ul.h_ranking-r li p{
	color: #FFF;
	margin-top: 45%;
	text-align: center;
}

.list-group-item{
	margin: 4px 0 0 0 !important;
}

.submit-rank-btn{		
    border-radius: 0;
}

/* 3d Carousel */
.banner {
    position: relative;
    height: 320px;
    /*padding: 11px 0 16px;*/
    margin: 0 auto;
    text-align: center;
}

.dg-container {
    position: relative;
    width: 100%;
    height: 280px;
}

.dg-wrapper {
    width: 320px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.dg-wrapper a {
    width: 100%;
    height: 280px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.dg-wrapper a:first-child {
    z-index: 2;
}

.dg-wrapper a img {
    display: block;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20);
	border: 4px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.dg-wrapper a.dg-transition {
    transition: all 0.5s ease-in-out;
}

.dg-wrapper a.dg-transition-fast {
    transition: all 0.2s ease-in-out;
}

.dg-container nav {
    display: none;
}

.dg-container nav span:hover {
    opacity: 1;
}

.dg-container nav span.dg-next {
    background-position: top right;
    /*margin-left: 10px;*/
}

.dg-container #lightButton2 {
    bottom: 20px;
}

.dg-container .button {
     position: relative;
     z-index: 5;
	 margin-top: 10px;
	 padding: 0 ;
 }

.dg-container .button li {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(0, 0, 0, 0.30);
}

.dg-container .button .light {
    background: #01BDFF;
}

#cat-name{
	text-align: center;
    font-size: 3em;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:1%;
  left:1%;
  width:98%;
  height:98%;
  display: block;
  z-index:0;
  background-color: rgba(80, 131, 206,0.8);
}


/* Categories */
.img-cat {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    /*-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.10);  */  
    margin:0;
    height: inherit;
    width: 100%;

}

.img-cat:hover{
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */ 
}


.grid {
  max-width: 1200px;
}


.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid {
  max-width: 1200px;
  max-height: auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 24.55%;
}

.grid-item {
  height: 150px;
  float: left;
  background: #0e0e0e;
  border-radius: 2px;
  margin-bottom: 5px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.cat-menu-btn{
	padding: 0;
}

.cat-menu-btn:visited{
	color:#0e0e0e;
}

.cat-menu-btn:hover{
	color:#3579dc;
}

.cat-menu{
	background: #0e0e0e;
	border-radius: 0;
	left:-77px;
	top: 25px;
}

.cat-menu:before {
  position: absolute;
  top: -7px; 
  left: 77px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #0e0e0e;
  border-left: 7px solid transparent;
  border-bottom-color: #0e0e0e;
  content: '';
}

.cat-menu li{
	border-bottom: 1px solid #1D1A1A;
	padding: 10px;
}

.cat-menu li:last-child{
	border-bottom: none;
}

.cat-menu li a{
	color: #FFF;
}

.cat-menu li a:hover{
	color: #5083CE;
	background:none;
}

.search-query:focus{	
	border-left:2px solid #5083CE;
}

.frm-search-poll{
	margin-top: 20px;
}


/* Dashboard */

.hr-dsh{
	margin:0;
	margin-bottom: 10px;
	border-top: 2px solid #ccc;
}

.form-horizontal .control-label{
	text-align: left;
}


/* FB Comments */

.fb-comments-cnt{
	display:none;		
	overflow-y: scroll;
	border: 1px solid #ddd;
	height: 250px;
}

.hide_comments{
	display: none;
}

.view_comments, .hide_comments{
	color:#444;
	cursor:pointer;
}

.view_comments:hover, .hide_comments:hover{
	color:#333;
}


/* Scroll bar */
.scrollbar
{	
	height: 250px;
	width: 100%;
	overflow-y: auto;	
	float: left;
}

.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
	background-color: #3579dc;
}

/* Date picker */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top:none;
	padding: 6px;
}

.table span.year, .table span.decade, .table span.century{
	font-size: 12px;
}

th.dow{
	border-bottom: none !important;
}

h1.h1-pt{
	font-size: 40px;
	font-weight: 900;
	margin-top:0;
}

/* Poll Results */
.poll-result{
	display: none;	
}

.close-poll-result{
	display: none;
}

.view-poll-result, .close-poll-result{
	color:#444;
	cursor:pointer;
}

.view-poll-result:hover, .close-poll-result:hover{
	color:#333;
}

/* Additional Responsive */
@media screen and (max-width: 499px){
	.section{
		padding: 10px;
		margin:	45px 0 50px 0;		
	}

   #footer{
		height: 60px;
	}
	
	.footer-menu{
		font-size: 11px;
	}
	
	#wrap {
		margin: 0 auto -60px;
	}
	
	.m-share-body{
		padding: 40px;	
	}
	
	.m-share-back{
		font-size: 10px;
	}

	.poll-question{
		text-align: center;
	}
			
	.poll-question p{
		font-size: 18px;
		line-height:1.5;
		text-align: center;	
	}
	
	h1{
		font-size: 16px;		
	}

	h1.h1-pt{
		font-size: 30px;
		font-weight: 900;
		margin-top: 40%;
	}

	p, label{
		font-size: 12px;
	}

	.cat-count{
		font-size: 10px;
	}
		
	.social-share-icons img{
		width: 50px;
		height: 50px;
	}
		
	.poll-ans-count{
		margin-top: 15px;
		display: block;
	}

	.grid-sizer, .grid-item {
	  width: 100%;
	}

	.dg-container {
	    position: relative;
	    width: 100%;
	    height: 140px;
	}

	.dg-wrapper {
	    width: 160px;
	    height: 140px;	  
	}

	.dg-wrapper a img {  
	    height: 140px;  
	}

	.overlay:before{	
	 	height:48%;	
	}

	#cat-name{
		font-size: 25px;
		margin-top:35%;
	}
	
	.fp-tableCell{
		vertical-align: top !important;
	}

	.th-cnt, .rt-cnt, .mm-cnt{
		height: 130px;
	}

	.th-cnt-rw-cl h1{
		margin-top: 5px;
	}

	.fa-thumbs-up-cs, .fa-thumbs-down-cs, .fa-thumbs-up-cs-res, .fa-thumbs-down-cs-res{
		font-size: 8em;		
	}

	.fa-thumbs-up-cs:hover, .fa-thumbs-down-cs:hover{		
		font-size: 9em;		
	}

	.share-this, .submit-poll-btn-home, .source-btn, .submit-choice-btn, .submit-rank-btn{
		padding:4px 5px;
		font-size: 9px;
	}

	.comments-section a, .results-btn a{
		font-size: 9px;
	}

	.rating-xl{
		font-size:2.8em !important;
	}

	.rt-pq img{
		height: 175px;
		width: auto;
	}

	ul.h_ranking li, ul.h_ranking-r li{	
		width: 75px;
		height: 75px;	
	}

	span.percentage{
		font-size: 7px;
	}

	.progress-bar{
		font-size: 11px;
	}

	.checkbox{
		margin-bottom:10px;
	}

	ul.h-mood{
		padding-left: 15px;
	}

	ul.h-mood li a img{   		
		height: 50px;
		margin-left:-15px;
	}

	ul.h-mood-r li{
		height: 50px !important;
		width: 50px !important;
	}

	.h-mood-r li:before{
		font-size: 12px;
		margin-top: 32%;
	}

	h4{
		font-size: 14px;
	}

	.up-img{
		height: 100px;
		width: 100px;
		margin: 5px;
	}

	.fp-prev{
		border-width: 8.5px 10px 8.5px 0 !important;
	}

	.fp-next{
		border-width: 8.5px 0 8.5px 10px !important;
	}
	
	.frm-search-poll{
		margin-top: 0px;
	}

	.cat-page,  .dsh-page{
		margin-top: 40px;
		margin-bottom: 50px;
	}

	.submit-page{
	 	margin-top: 60px;
	 }

	.scrollbar
	{	
		height: 200px;
	}

	.fb-comments-cnt{
		height: 200px;
	}

	a.submit-poll-btn {
	    font-size: 12px;
	    line-height: 30px;
	    padding: 5px;
	  	display: inline-block;
	}

	input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	    font-size: 12px;
	  	margin-top: 5px;
	    margin-bottom: 17px;
	}

	.h-upick{
		height: auto;
	}

}

@media (max-width: 768px) and (min-width: 500px){
	.m-login-dialog, .m-signup-dialog{
		width: 450px;
		margin: 70px auto;
	}	
	
	.m-share-body{
		padding: 50px;	
	}

	.poll-question p{
		font-size: 25px;
		line-height:1.5;
		text-align: center;	
	}
	
	.poll-question{
		text-align: center;
	}

	.poll-ans-count{
		margin-top:5px;
	}
	
	h1{
		font-size: 24px;
	}
	
	.cat-page{
		margin-top:7%;
		margin-bottom: 50px;
	}

	.frm-search-poll{
		margin-top: 0px;
	}

	.cat-count{
		font-size: 12px;
	}
		
	.share-this{
		font-size: 12px;
		padding: 5px;  
	}
		
	.grid-sizer,
	.grid-item {
	  width: 49.50%;
	}

	.dsh-page{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.rt-cnt{
		height: 150px;
	}

	.rt-pq img{
		height: 220px;
	}

	.rating-xl{
		font-size: 3.3em !important;
	}
	
}

@media (max-width: 990px) and (min-width: 768px){
	.grid-sizer,
	.grid-item {		
	  width: 49.50%;
	}

	.cat-page{
		margin-top:6%;
		margin-bottom: 50px;
	}

	.m-login-dialog, .m-signup-dialog{
		width: 450px;
		margin: 70px auto;
	}

	ul.h_ranking li{	
		width: 100px;
		height: 100px;	
	}

	.dsh-page{
		margin-top: 50px;
		margin-bottom: 50px;
	}

}

@media (max-width: 1220px){
	
	.m-share-content{	
		width: 60%;		
	}
		
	.fp-prev {
    	left: 5px !important;
	}

	.fp-next {
    	right: 5px !important;
	}
}



