html,
body {
  height: 100%; 
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}

h1{
	font-family:  "Oswald Regular", Helvetica, Arial, sans-serif;
	font-size: 30px;
	display: inline-block;
}

/* Wrapper for page content to push down footer */
#wrap {
  
}

/* Set the fixed height of the footer here */
#footer {
 
}


/* Custom CSS
-------------------------------------------------- */
a, a:hover, a:active, a:visited{
	text-decoration: none !important;
}

button:focus {outline:0;}

ul.dropdown-menu li{
	padding: 5px;
}

.container {
  
  max-width: 990px;
  padding: 0 15px;
}

p.footer-menu {
  margin: 10px 0 3px 0;
  text-align: center;
  font-size: 12px;
  color: #FFF;
}

p.footer-menu a{
	color: #FFF;
	text-decoration: none;	
}

.navbar-default, #footer{
	background-color: #0e0e0e;	
}

.navbar-brand, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
	color: #FFF;	
}

.navbar-brand{
	padding: 0px; /* firefox bug fix */
	font-family: "Oswald Regular", Helvetica, Arial, sans-serif;
}

.navbar-brand>img {
	display: inline-block;
	height: 100%;
	padding: 10px; /* firefox bug fix */
	width: auto;
	margin-right: -5px;
}

.navbar-toggle{
	border: none;
	margin-top: 0;
	padding-top: 15px;
	
}

#header, #footer{
	position:fixed;		
	display:block;
	width: 100%;
	z-index:9;
}

#header{
	top:0px;
	height: 50px;
}
#footer{
	bottom:0px;
	height: 40px;
}

.header-custom{
	border-bottom: 4px solid #ddd;
	border-top: none;
	border-left: none;    
    border-right: none;
	border-radius: 0;
}

.footer-custom{
	border-top: 4px solid #ddd;
}

a.drawer-toggle label{
	display: none;
}

.navbar-brand:hover, p.footer-menu a:hover, .navbar-right a:hover{
	color: #AAA !important;
}

.icon-user{
	border: 1px solid #fff;
    border-radius: 100px;
    background: #fff;
    color: #848080;
	font-size: 18px !important;
}

.pointer{
	cursor: pointer;
}

.m-login-dialog{
	margin-top: 70px;
}

.m-login-header{
	padding: 0;
	text-align:center;
	border-bottom: none;	
}

.m-login-custom{
	border: 4px solid #DDD;
	border-radius: 10px;
}

.m-login-custom button{
	width: 50%;
	margin: 0 auto;
    background: #3579dc;
	border: none;
	border-radius: 0;
	height: 40px;	
}

.m-login-custom button:hover{
	 background: #5083CE;
}

.m-login-container-left{
	width: 50%;
    float: left;
    height: 40px;
    background: black;
    border-radius: 5px 0 0 0;
}

.m-login-container-right{
	width: 50%;
    float: right;
    height: 40px;
	color: #FFF;
    background: black;
    border-radius: 0 5px 0 0;
}

.social-login-icons{	
	text-align:center;	
}

.social-login-icons img{	
	margin: 15px 5px 0 5px;	
	width: 24px;
	height: 24px;
}

.m-signup-dialog{
	margin-top: 70px;
}

.form-control::-webkit-input-placeholder { color: #555; }
.form-control:-moz-placeholder { color: #555; }
.form-control::-moz-placeholder { color: #555; }
.form-control:-ms-input-placeholder { color: #555; }

div.datepicker {

}

/* Poll */
p.poll-question{
	font-size: 32px;
	font-weight: 700;
	color: black;
	line-height:45px;
	text-align: left;
}

.poll-question-section, .poll-content-section{
	margin-top: 5%;
}

.poll-question-buttons button{
	color: #000;
	background: none;
	border: 1px solid #000;
	padding: 5px 10px 5px 10px;	
}

.cat-count{
	font-size: 16px; 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

.poll-ans-count{
	position: relative;
	margin-top: 40px;
}


button.share-this{	
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: #3579dc;	
	color: #FFF;
	font-size: 14px;
	padding: 8px 14px;  
    vertical-align: top;
    border: 0;
	margin-left: 10px;
}

.m-share-content{	
    border: 4px solid #ddd;
}

.m-share-body{
	padding: 60px;
}

.m-share-back{
	position: absolute;
	bottom: 7px;
	left: 7px;
	cursor: pointer;
}

.social-share-icons{
	text-align: center;
	margin: 30px;	
}

.img-responsive{
	display: initial;
	margin: 5px 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

hr.cmt{
	margin-top: 0;
    border-top: 1px solid #ddd;
}

/* Thumbs */
.th-cnt{
	display: table;
	margin: 0 auto;
}

.th-cnt-rw{
	display:table-row;
	text-align:center;
}

.th-cnt-rw-cl{
	display: table-cell;
}

.thumbs{
	cursor: pointer;
}

.fa-thumbs-up-cs{
	font-size: 12em;
	line-height: 1;
	color: #0e0e0e;	
	display: inline-block;
	text-shadow: 6px 6px 6px #ddd;
}

.fa-thumbs-up-cs:hover{
	color: #66CD00;	
}

.fa-thumbs-down-cs{
	font-size: 12em;
	line-height:1;
	color: #0e0e0e;
	display: inline-block;
	text-shadow: 0px 6px 6px #ddd;
}

.fa-thumbs-down-cs:hover{
	color: #66CD00;	
}

/* Rating */
.rating-container{
	text-align: center;
}

div.rating-container>.caption{
	display: block;
}

.clear-rating{
	display: none !important;
}

.label{
	font-size: 50%;
}

.img-rating{
	margin-bottom: 10px;
}

/* Multiple Choice */
.checkbox{
	margin-bottom: 20px;
}

/* uPick */
.up-cnt{
	display: table;
	margin: 0 auto;
}

.up-cnt-rw{
	display:table-row;
	text-align:center;
}

ul.upck{
	display:inline;
	text-decoration: none;
}

.up-cnt-rw-cl{
	display: table-cell;
}

.up-img{
	height: 200px;
	width: 200px;
	margin: 5px;
}


/* Submit Poll */
.submit-poll-buttons{
	background: #DDD;
}

a.submit-poll-btn {
	font-size: 14px;
	border-radius: 8px;	
	padding: 2px 40px;
	margin: 5px;
	vertical-align:top;
    line-height:40px;
	background: rgba(53, 121, 220, 0.5) !important;
	color: white;
}

a.submit-poll-btn.active{
	background: #3579dc !important;
}

a.submit-poll-btn:hover {
	color: #FFF;
	background: #3579dc !important;
}

a.submit-poll-content-btn{	
	font-size: 14px;	
	border-radius: 8px;	
	line-height:20px;	
	vertical-align:top;    
	background: #3579dc;	
	color: #FFF;
	margin-top: 10px;
}

a.submit-poll-content-btn:hover{
	color: #ddd;
}

.submit-poll-content{
	background: #DDD;
	margin-top: 15px;
	padding: 15px;
}

/* Moods */

img.mood{
	margin: 0px 2px;
	opacity:0.4;
}

img.mood:hover{
	opacity: 1.0
}


ul#h-mood{
	padding:0;
}

ul#h-mood li {    
	display: inline-block;
    text-decoration: none;
}

ul#h-mood li a img{   
	opacity: 0.4;	
	height: 70px;
	margin-left:-20px;
}

ul#h-mood li a img:hover {
    opacity: 1.0;  
}

/* Ranking */
ul#h_ranking li{
	display: inline-block;   	
	width: 125px;
	height: 125px;	
	margin: 10px;
	background: #3579dc;
}

ul#h_ranking li:hover{

}

ul#h_ranking li p{
	color: #FFF;
	margin-top: 45%;
	text-align: center;
}


/* 3d Carousel */
.banner {
    position: relative;
    height: 320px;
    /*padding: 11px 0 16px;*/
    margin: 0 auto;
    text-align: center;
}

.dg-container {
    position: relative;
    width: 100%;
    height: 280px;
}

.dg-wrapper {
    width: 320px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.dg-wrapper a {
    width: 100%;
    height: 280px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.dg-wrapper a:first-child {
    z-index: 2;
}

.dg-wrapper a img {
    display: block;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20);
	border: 4px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.dg-wrapper a.dg-transition {
    transition: all 0.5s ease-in-out;
}

.dg-wrapper a.dg-transition-fast {
    transition: all 0.2s ease-in-out;
}

.dg-container nav {
    display: none;
}

.dg-container nav span:hover {
    opacity: 1;
}

.dg-container nav span.dg-next {
    background-position: top right;
    /*margin-left: 10px;*/
}

.dg-container #lightButton2 {
    bottom: 20px;
}

.dg-container .button {
     position: relative;
     z-index: 5;
	 margin-top: 10px;
	 padding: 0 ;
 }

.dg-container .button li {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(0, 0, 0, 0.30);
}

.dg-container .button .light {
    background: #01BDFF;
}

#cat-name{
	text-align: center;
    font-size: 3em;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:1%;
  left:1%;
  width:98%;
  height:98%;
  display: block;
  z-index:0;
  background-color: rgba(80, 131, 206,0.8);
}


/* Categories */
.img-cat {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    /*-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.10);  */  
    margin:0;
    height: inherit;
    width: 100%;

}

.img-cat:hover{
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */ 
}


.grid {
  max-width: 1200px;
}


.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid {
  max-width: 1200px;
  max-height: auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 24.55%;
}

.grid-item {
  height: 150px;
  float: left;
  background: #0e0e0e;
  border-radius: 2px;
  margin-bottom: 5px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }


.cat-header{	
	margin-bottom: 10px;	
}

.cat-menu-btn{
	padding: 0;
}

.cat-menu-btn:visited{
	color:#0e0e0e;
}

.cat-menu{
	background: #0e0e0e;
}

.cat-menu li{
	border-bottom: 1px solid #1D1A1A;
}

.cat-menu li:last-child{
	border-bottom: none;
}

.cat-menu li a{
	color: #FFF;

}

.cat-menu li a:hover{
	color: #5083CE;
	background:none;
}

.search-query:focus{
	
	border-left:3px solid #5083CE;

}

.hr-dsh{
	margin:0;
	margin-bottom: 10px;
	border-top: 2px solid #ccc;
}

.form-horizontal .control-label{
	text-align: left;
}


/* Additional Responsive */
@media screen and (max-width: 499px){
	.section{
		padding: 10px;
		margin:	35px 0 50px 0;		
	}

   #footer{
		height: 60px;
	}
	
	p.footer-menu{
		font-size: 11px;
	}
	
	#wrap {
		margin: 0 auto -60px;
	}
	
	.m-share-body{
		padding: 40px;	
	}
	
	.m-share-back{
		font-size: 10px;
	}
	
	.poll-question-section, .poll-content-section{
		margin-top: 0;
		padding: 0 10px;
	}
		
	p.poll-question{
		font-size: 20px;
		line-height:1.5;
	}
	
	h1{
		font-size: 22px;
	}
	
	.cat-count{
		font-size: 12px;
	}
	
	button.share-this{
		font-size: 12px;
		padding: 5px;  
	}
	
	.social-share-icons img{
		width: 50px;
		height: 50px;
	}
		
	.poll-ans-count{
		margin-top: 5px;
	}
	
	a.submit-poll-btn {
		display: block;
	}

	.grid-sizer, .grid-item {
	  width: 100%;
	}

	.dg-container {
	    position: relative;
	    width: 100%;
	    height: 140px;
	}

	.dg-wrapper {
	    width: 160px;
	    height: 140px;	  
	}

	.dg-wrapper a img {  
	    height: 140px;  
	}

	.overlay:before{	
	 	height:48%;	
	}

	#cat-name{
		font-size: 25px;
		margin-top:30%;
	}

}

@media (max-width: 990px) and (min-width: 768px){
	.grid-sizer,
	.grid-item {
	  width: 49.50%;
	}

	.m-login-dialog, .m-signup-dialog{
		width: 450px;
		margin: 70px auto;
	}
}


@media (max-width: 768px) and (min-width: 500px){
	.m-login-dialog, .m-signup-dialog{
		width: 450px;
		margin: 70px auto;
	}	
	
	.m-share-body{
		padding: 50px;	
	}
	
	.poll-question-section, .poll-content-section{
		margin-top: 0;
		padding: 0 20px;
	}
		
	p.poll-question{
		font-size: 28px;
		line-height:1.5;
	}
	
	.poll-ans-count{
		margin-top:5px;
	}
	
	h1{
		font-size: 24px;
	}
	
	.cat-count{
		font-size: 12px;
	}
		
	button.share-this{
		font-size: 12px;
		padding: 5px;  
	}
	
	a.submit-poll-btn {
		display: block;
		width:80%;	
		margin: 5px auto;
	}
	
	.grid-sizer,
	.grid-item {
	  width: 49.50%;
	}
	
}

@media (max-width: 1220px){
	
	.m-share-content{	
		width: 60%;		
	}
		
	.fp-prev {
    	left: 5px !important;
	}

	.fp-next {
    	right: 5px !important;
	}
}



